body{
    background-image: url(https://images.pexels.com/photos/2823459/pexels-photo-2823459.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-repeat: no-repeat;
    background-size: cover;
}
/*devshchander*/
.intro{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1em;
}



/*navbar start*/
ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

li{
    float: left;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    line-height: 1.5;
}

li a{
    display: block;
    color:rgb(255, 255, 255);
    text-align: center;
    margin: 2px;
    padding: 14px 16px;
    text-decoration: none;
}

/*lato font- font-family: 'Lato', sans-serif;*/

.box1{
    margin: auto;
    height: 150px;
    width: 400px;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

/*quoteStyling*/
.quote1{
    margin: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.8px;
    font-size: 80px;
}
.dot{
    color: red;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    font-size: 80px;
}

.resumeword{
    color: red;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}
/*github link-https://devesh-chander.github.io/portfolio.dvsh.io/*/
